<<<<<<< HEAD
<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<div id="user-info">
  <% if user_signed_in? %>
      <%= current_user.name %>
      [<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>]
  <% else %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>
</div>
=======
<div class="band">
  <img src="" alt="top_sp" class="sp">
  <div class="name-band">
    <img src="" alt="top_pc" class="pc">
    <img src="" alt="top_sp" class="sp">
  </div>
</div>

<div class="container">
  <div class="row"></div>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <div id="user-info">
    <% if user_signed_in? %>
        <%= current_user.name %>
        [<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>]
    <% else %>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <% end %>
  </div>
</div>
>>>>>>> 8c6f247f327829eb649cbf06a84e0485a49c0a32
