<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @booking.plan_id %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @booking.charge_id %>
</p>

<p>
  <strong>Card fingerprint:</strong>
  <%= @booking.card_fingerprint %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
