<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group"><%= f.label :image , "画像"     %> : <%= f.text_field :image , class: "form-control" %></div>
  <div class="field form-group"><%= f.label :title , "タイトル" %> : <%= f.text_field :title , class: "form-control" %></div>
  <div class="field form-group"><%= f.label :body  , "本文"     %> : <%= f.text_area :body, rows: 10 , class: "form-control" %></div>
  <div class="field form-group">
    <%= f.label :amount, "金額"     %> :
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.text_field :amount, class: "form-control" %></div>
    </div>
  <div class="field form-group"><%= f.label :area  , "地域"     %> : <%= f.text_field :area  , class: "form-control" %></div>
  <div class="text-center"><%= f.submit "プランを作成する", class: "btn btn-primary" %></div>
<% end %>
<br>
