<div class="container">
  <h1 class="text-center">現在募集中のプラン</h1>
  <%= link_to 'あなたのオリジナルプランを作成しましょう!', new_plan_path %>
  <div class="row">
    <% @plans.each do |plan| %>
      <div class="col-md-4" style="padding: 10px;">
        <%= link_to(plan, class: "display: block;") do %>
          <div class="table" style="background-color: #eec;border: 1px solid #ccc;border-radius: 5px;padding: 10px;">
            <h2><%= plan.title %></h2>
            <div class="tr text-center"><%= image_tag(plan.image) %></div>
            <div class="tr text-center"><%= plan.title.truncate(50) + "..." %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

