<div class="container">
  <h1 class="text-center"><%= @plan.title %></h1>
  <div class="row">
    <div class="col-md-8">
      <div class=""><%= image_tag("test.jpg", size: "400x400") %></div>
      <div><%= @plan.body %></div>
    </div>
    <div class="col-md-4">
      <span><%= @plan.user.name %></span><br>
      <span><%= @plan.user.profile %></span>
    </div>
  </div>
</div>
