<div class="container show_co" style="margin-top:100px;">
  <h1 class="text-center"><%= @plan.title %></h1>

  <div class="row">
    <div class="col-md-8">
      <div class="text-center">
        <%= image_tag(@plan.image, :width => "600") %>
      </div>
      <div class="plan_body"><%= sanitize @plan.body %></div>
    </div>
    <div class="col-md-4">
      <div class="h4" class="bs_boader">
        <p class="h4">Conductor</p>
        <%= image_tag(@plan.user.profile_image + "?type=large") %><br>
        <p><%= @plan.user.name %></p>
      </div>

      <div class="bs_boader">
        <p class="h4">Booking</p>
        <ul class="nav nav-pills nav-stacked">
          <% @plan.days.each do |day| %>
                <% if day.booking %>
                  <li class="active">
                    <a>×<%= day.met_at.strftime('%Y/%m/%d %H:%M') %></a>
                  </li>
                <% else %>
                  <li>
                    <%= link_to '◯' << day.met_at.strftime('%Y/%m/%d %H:%M'), new_plan_day_booking_path(@plan, day.id) %>
                  </li>
                <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
