<div class="container">
  <h1 class="text-center"><%= @plan.title %></h1>

  <div class="row">
    <div class="col-md-8">
      <div class="text-center"><%= image_tag(@plan.image) %></div>
      <div><%= @plan.body %></div>
    </div>
    <div class="col-md-4">
      <div class="h4 text-center" style="background-color: #ccc; border-radius: 5px; padding: 10px;">
        <%= image_tag(@plan.user.profile_image + "?type=large") %><br>

        <p class="h4">このプランの作成者<br><%= @plan.user.name %></p>

        <p><%= @plan.user.profile %></p>
      </div>

      <div>
        <ul>
          <% @plan.days.each do |day| %>
              <li><%= link_to day.met_at.strftime('%Y/%m/%d %H:%M'), new_plan_booking_path(@plan, date_id: day.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
