<nav class="navbar navbar-default navbar-fixed-top" style="color: #223a70;  border: 1px solid  #ccc ; height:70px;">
  <div class="container headder_p">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <%= image_tag 'menu.png' , :alt=>'menu', :size=>'5%' %>
      </button>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <!-- </button> -->
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png' , :alt=>'logo', :width=>'150px' %>
      </a>
    </div>

    <div class="collapse navbar-collapse headder_ul" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" role="menu" style="font-size:150%">
        <li><a href="/">TOP</a></li>
        <li><a href="/login">SIGN UP</a></li>
        <li><% if user_signed_in? %>
        <a href="/mypage"><%= current_user.name %></a></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>
        </li>
          <% else %>
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
