<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--
    <meta name="description" content="" >
    <meta name="keywords" content="" >
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title" content="takashi">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:locale" content="ja_JP">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" type="text/css" href="slider-pro.css" media="screen" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="jquery.sliderPro.min.js"></script> -->
    <!--[if lt IE 9]>-->
    <!-- <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--[endif]-->
  </head>
  <body>
    <!-- ヘッダー -->
    <%= render 'layouts/header' %>

    <!-- 主要部分 -->
    <%= yield %>

    <!-- フッター -->
    <%= render 'layouts/footer' %>
  </body>
</html>
